@model HotelManage_LTDD.Models.User

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg" style="width: 30rem;">
        <div class="card-body">
            @using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input class="Role" id="Role" name="Role" value="Employee" type="hidden" />
                <div class="mb-3">
                    <label for="Name" class="form-label">Họ và tên:</label>
                    <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" required />
                </div>

                <div class="mb-3">
                    <label for="Email" class="form-label">Email:</label>
                    <input type="text" id="Email" name="Email" class="form-control" value="@Model.Email" required />
                </div>

                <div class="mb-3">
                    <label for="PhoneNumber" class="form-label">Số điện thoại:</label>
                    <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" value="@Model.PhoneNumber" required />
                </div>

                <div class="mb-3">
                    <label for="Password" class="form-label">Mật khẩu:</label>
                    <input type="text" id="Password" name="Password" class="form-control" value="@Model.Password" required />
                </div>

                <div class="mb-3">
                    <label for="AvatarUrl" class="form-label">Hình ảnh:</label>
                    <input type="file" id="AvatarUrl" name="AvatarUrl" class="form-control" />
                    @if (!string.IsNullOrEmpty(Model.AvatarUrl))
                    {
                        <div class="mt-3 text-center">
                            <strong>Hình ảnh hiện tại:</strong>
                            <img src="@Model.AvatarUrl" alt="@Model.AvatarUrl" class="img-thumbnail" style="max-width: 200px; height: auto;" />
                        </div>
                    }
                </div>

                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            }

            <div class="d-grid">
                <a asp-area="Admin" asp-action="Index" asp-controller="Employee" class="btn btn-secondary">Quay lại</a>
            </div>
        </div>
    </div>
</div>
